include *.mk
include *.png
include *.py
include *.rst
include .coveragerc
include .gitignore
include .travis.yml
include LICENSE
include Makefile
include mypy.ini
include pytest.ini
include tox.ini

# added by check_manifest.py
include *.yml
